{% extends "layouts/homepage.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "Homepage" %}

{% block hero %}
  <section class="dfe-hero">
    <div class="dfe-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Department for Education<br/>{{serviceName}}</h1>
          <p class="govuk-body-l">Description.</p>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block content %}

  <section class="govuk-!-margin-bottom-9">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <div class="dfe-grid-container">
          <div class="dfe-card">
            <picture>
              <source srcset="/assets/images/imgdes.webp" type="image/webp">
              <img src="/assets/images/imgdes.png" alt="">
            </picture>

            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/example">Example page</a>
              </h2>
              <p>An example page using the left hand menu.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

{% endblock %}